# --- Assembler Artifacts (ملفات التجميع المؤقتة) ---
*.OBJ
*.obj
*.MAP
*.map
*.LST
*.lst
*.XRF
*.xrf

# --- Executables (ملفات التشغيل) ---
# العادة إننا مش بنرفع الـ EXE عشان ده كود، بس لو عاوز ترفعه عشان الدكتور يجرب علطول
# امسح السطرين اللي تحت دول (علامة الشباك)
# *.EXE
# *.exe
# *.COM

# --- Editor & OS Junk (ملفات النظام والمحررات) ---
*.bak
*.BAK
*~
*.swp
.DS_Store
Thumbs.db
.vscode/
